section.newModel
	.container
		.newModel__section Новые модели
		.newModel__items.clearfix
			each item in [1,2,3,4,5,6]
				.newModel__item(style=`background-image: url(/assets/img/index/collection/${item}.png);`)
					.newModel__item-detail
						a.newModel__item-link(href="#") Подробнее
					.newModel__item-title Коллекция