section.sections
	.container
		.sections__row.clearfix
			.sections__cell.sections__cell-one
				.sections__item(style='background-image: url("/assets/img/catalog/sections_1.png");')
					.sections__item-detail
						a.sections__item-link(href="#") Подробнее
					.sections__item-title Коллекция 1
			.sections__cell.sections__cell-two
				.sections__item(style='background-image: url("/assets/img/catalog/sections_2.png");')
					.sections__item-detail
						a.sections__item-link(href="#") Подробнее
					.sections__item-title Коллекция 2
		.sections__row
				.sections__item.sections__item-three(style='background-image: url("/assets/img/catalog/sections_3.png");')
					.sections__item-detail
						a.sections__item-link(href="#") Подробнее
					.sections__item-title Коллекция 3
