.cooperationControl {
	list-style-type: none;
	padding: 0;
	position: fixed;
	right: 0;
	bottom: 30px;
	z-index: 10;
}

.cooperationControl__item {
	background: #df1e21;
	display: table;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #c81b1e;
	opacity: 1;
	transition: opacity .3s;
	padding-right: 20px;

	&:nth-child(3) {
		border-bottom: 0;
	}
}


.cooperationControl.hideLayer .cooperationControl__item {
	opacity: 0;
	border-bottom: 0;
}

.cooperationControl.hideLayer .cooperationControl__item div {
	display: none;
}

.cooperationControl__col {
	display: table-cell;
	vertical-align: middle;
	padding: 15px 0;

	&:first-child {
		text-align: center;
		width: 67px;
	}

	&:last-child {

	}
}

.cooperationControl__link {
	color: #ffffff;
	text-transform: uppercase;
	line-height: 14px;

	&:hover {
		color: #ffffff;
		text-decoration: none;
		border-bottom: 1px solid #FFFFFF;
	}
}


.cooperationControl__hide {
	background: #df1e21;
	display: inline-block;
	padding: 14px 15px;
	float: right;

	&:hover, &:focus {
		color: #ffffff;
		text-decoration: none;
	}
}

.cooperationControl__hide-wrap {
	display: table;
}

.cooperationControl__hide-col {
	display: table-cell;
	vertical-align: middle;
}

.cooperationControl__hide-text {
	color: #ffffff;
	padding-right: 10px;
}

.cooperationControl__icon {
	display: inline-block;
}

.cooperationControl__item-last {
	background: #FFFFFF;
	border-bottom: 0;
}
