.footerContact {
	text-align: right;
}

.footerContact__phone {
	color: #000000;
	font-size: 18px;
	font-family: 'proxima_novalight';
}

.footerContact__callback {
	color: #000000;
	font-size: 14px;
	font-family: 'proxima_novalight';
	opacity: .5;
}