.headerContact {
	margin-top: 20px;
	text-align: right;
}

.headerContact__phone {
	font-size: 18px;
	color: #ffffff;
	font-family: 'proxima_novalight';
	line-height: 22px;
}

.headerContact__callback {
	color: #df1e21;
	font-family: 'proxima_novalight';
	font-size: 13px;
	&:hover {
		color: #df1e21;
		text-decoration: underline;
	}
}