.navbar-brand.logo {
	display: block;
	padding: 23px 28px;
	background: #df1e21;
	margin-right: 49px;

	&:hover {
		background: #df1e21;
	}
}

.logo__img {
	vertical-align: middle;
}

.logo__text {
	position: absolute;
	top: 0;
	left: -9999px;
}