.subscribeSmo {
	text-align: right;
}

.subscribeSmo__title {
	margin-bottom: 5px;
}

.subscribeSmo__items {
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: right;
}

.subscribeSmo__item {

}

.subscribeSmo__link {

}