section.indexSlider
	.container
		.row
			.indexSlider__nav.owl-nav
			.indexSliderDots
				.indexSlider__dots.owl-dots
	.indexSlider__items.owl-carousel.owl-theme
		.indexSlider__item
			.container
				.row
					.indexSlider__content
						.indexSlider__content__wrap
							.indexSlider__title Высочайшее мастерство исполнения
							a.indexSlider__btn(href="#") Заказать звонок
			a.indexSlider__link(href='#')
				img.indexSlider__img(src='/assets/img/index/slider/slider_1.png' alt='')
		.indexSlider__item
			.container
				.row
					.indexSlider__content
						.indexSlider__content__wrap
							.indexSlider__title Высочайшее мастерство исполнения
							a.indexSlider__btn(href="#") Заказать звонок
			a.indexSlider__link(href='#')
				img.indexSlider__img(src='/assets/img/index/slider/slider_1.png' alt='')
		.indexSlider__item
			.container
				.row
					.indexSlider__content
						.indexSlider__content__wrap
							.indexSlider__title Высочайшее мастерство исполнения
							a.indexSlider__btn(href="#") Заказать звонок
			a.indexSlider__link(href='#')
				img.indexSlider__img(src='/assets/img/index/slider/slider_1.png' alt='')
		.indexSlider__item
			.container
				.row
					.indexSlider__content
						.indexSlider__content__wrap
							.indexSlider__title Высочайшее мастерство исполнения
							a.indexSlider__btn(href="#") Заказать звонок
			a.indexSlider__link(href='#')
				img.indexSlider__img(src='/assets/img/index/slider/slider_1.png' alt='')
