ul.cooperationControl.hideLayer
	li.cooperationControl__item
		.cooperationControl__col
			span.cooperationControl__icon.icon-calc
		.cooperationControl__col
			a.cooperationControl__link(href="#") Узнать стоимость
	li.cooperationControl__item
		.cooperationControl__col
			span.cooperationControl__icon.icon-phones
		.cooperationControl__col
			a.cooperationControl__link(href="#") ЗАКАЗАТЬ ЗВОНОК
	li.cooperationControl__item
		.cooperationControl__col
			span.cooperationControl__icon.icon-plus
		.cooperationControl__col
			a.cooperationControl__link(href="#") Бонусная программа
	li.cooperationControl__item-last
		a.cooperationControl__hide#js-cooperationControl(href="#")
			.cooperationControl__hide-wrap
				.cooperationControl__hide-col
					.cooperationControl__hide-text Свернуть
				.cooperationControl__hide-col
					.icon-arrow-right-coop