.pag
	.pag_items.clearfix
		a.pag__item.pag__item-first(href="#")
			.icon-nav-arrow
		a.pag__item(href="#") 1
		a.pag__item(href="#") 2
		a.pag__item(href="#") 3
		a.pag__item.active(href="#") 4
		a.pag__item(href="#") 5
		a.pag__item(href="#") .....
		a.pag__item(href="#") 15
		a.pag__item(href="#") 30
		a.pag__item(href="#") 45
		a.pag__item.pag__item-last(href="#")
			.icon-nav-arrow
