body, html {
	width: 100%;
	height: 100%;
	font-family: 'proxima_nova_rgregular';
	font-size: 15px;
	color: #737373;
	min-width: 320px;
}

h1, h2 {
	color: #191919;
	font-size: 45px;
	font-family: 'old_standard_ttbold';
}

h2 {
	font-size: 36px;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: hidden;
	min-width: 320px;
}

.wrapper__footer {

}

.header {
	background: #000;
}

.footer {
	position: relative;
}

.footer__wrap {
	padding: 55px 0 85px;
}

.pr {
	position: relative;
}

.modal-dialog-center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
}

.modal-footer {
	margin-top: 0;
}

@media (max-width: 767px) {
	.modal-dialog-center {
		width: 100%;
	}
}
