extends ../_template

block variables
	- var title = 'Home page'

block content
	include ../common/index/slider
	include ../common/index/collection_1
	include ../common/index/collection_2
	include ../common/index/collection_3
	include ../common/index/news