extends ../_template

block variables
	- var title = 'news_detail'

block content
	include ../common/index/slider
	section.nDetail
		.container
			.row
				.col-lg-7
					h1.nDetail__title Название новости
					.nDetail__text
						img(src="/assets/img/news/detail.png" alt="")
						p Таким образом консультация с широким активом играет важную роль в формировании модели развития. Повседневная практика показывает, что новая модель организационной деятельности способствует подготовки и реализации модели развития. Товарищи! начало повседневной работы по формированию позиции требуют определения и уточнения направлений прогрессивного развития.
						p Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также рамки и место обучения кадров способствует подготовки и реализации направлений прогрессивного развития. Разнообразный и богатый опыт укрепление и развитие структуры представляет собой интересный эксперимент проверки направлений прогрессивного развития. С другой стороны рамки и место обучения кадров позволяет оценить значение модели развития.
						p Не следует, однако забывать, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Не следует, однако забывать, что сложившаяся структура организации позволяет выполнять важные задания по разработке соответствующий условий активизации. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом реализация намеченных плановых заданий позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
						img(src="/assets/img/news/detail2.png" alt="")
				.col-lg-4.col-lg-offset-1
					.nDetailItems
						h2.nDetail__title.nDetailItems__name Последние новости
						ul.nDetailItems__items.clearfix
							each item in [1,2,3]
								li.nDetailItems__item(style=`background-image: url(/assets/img/index/collection/${item}.png);`)
									.nDetailItems__preview
										.nDetailItems__date 21 Апреля, 2017
										.nDetailItems__title Специальное предложение
										.nDetailItems__text Вышел в свет новый диван "Брук". Это самый мягкий диван в линейке среднеценового сегмента. Уклон спинки 120 градусов и высокие мягкие подушки обеспечивают непревзойденный.
										a.nDetailItems__link(href="#") Подробнее
		.container
			.nDetail__slider
				include ../common/index/news_collection